<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--<add key="aspnet:AllowAnonymousImpersonation" value="False"/>
  <add key="SVTraceLevel" value="0"/>-->
  <!--<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="2147483647" allowCookies="true" />
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>-->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>   
  </system.web>
  <!--<system.web>
    <httpRuntime maxRequestLength ="2147483647" executionTimeout="999999"/>
  </system.web>-->
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IIntegrationAPI" maxReceivedMessageSize="2147483647" messageEncoding="Mtom">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IIntegrationAPI1" maxReceivedMessageSize="2147483647" messageEncoding="Mtom">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://brollcrestest.brollonline.co.za/wcfPropData/IntegrationAPI.svc/IntegrationAPI"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IIntegrationAPI"
        contract="TestApi.IIntegrationAPI" name="WSHttpBinding_IIntegrationAPI" />
      <endpoint address="https://brollcrestest.brollonline.co.za/wcfPropData/IntegrationAPI.svc/IntegrationAPI"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IIntegrationAPI1"
        contract="SecondTestApi.IIntegrationAPI" name="WSHttpBinding_IIntegrationAPI1" />
    </client>
  </system.serviceModel>
</configuration>
